<div class="about" id="about">
    <!-- Introduction Section -->
    <section class="section glass-card" id="introduction">
        <h2>About Myself</h2>
        <p>Hello! My name is <strong>Joshua Fernando</strong>, and I am a second-year Software Engineering student at 
            <strong>University of Westminster</strong>. I am passionate about creating innovative software solutions and developing 
            robust applications that solve real-world problems.</p>
    </section>
  
    <!-- Academic Background Section -->
    <section class="section" id="academic-background">
        <h2>Academic Background</h2>
  
        <div class="institution glass-card">
            <div>
                <h3>University of Westminster</h3>
                <p>I am currently pursuing a <strong>BEng (Hons) Software Engineering</strong> in University of Westminster. 
                Currently in the Second year and completed key projects like a Real-Time Event Ticketing System, Shopping web Page, 
                University student Management system and a Finance tracker. 
                Descriptions and applications I created are listed here in below.</p>
            </div>
                <img src="assets/image/UOW.png" alt="Westminster" class="college-image">
        </div>
  
        <div class="institution glass-card">
            <div>
                <h3>Informatic Institute Of Technology</h3>
                <p>Completed The <strong>Foundation Certificate in Higher Education - IT</strong> in 2023 December with a Distinction pass.</p>
                <p>Modules Completed:</p>
                <ul>
                    <li>Mathematics for Computing</li>
                    <li>Working with Data</li>
                    <li>Introduction to Programming</li>
                    <li>Computer Programming</li>
                    <li>Digital Circuits and Logic Design</li>
                    <li>Designing Innovative Solutions</li>
                </ul>
            </div>
            <img src="assets/image/IIT.png" alt="IIT" class="college-image">
        </div>
    
        <div class="institution glass-card">
            <div>
                <h3>St. Joseph Vaz College</h3>
                <p>Completed the <strong>GCE Ordinary Level</strong> exam with <strong>9A</strong> passes in 2022.</p>
                <p>Subjects completed:</p>
                <ul>
                    <li>Catholicism</li>
                    <li>Sinhala Language & Literature</li>
                    <li>English Language</li>
                    <li>Mathematics</li>
                    <li>History</li>
                    <li>Science</li>
                    <li>Business & Accounting Studies</li>
                    <li>Information & Communication Technology</li>
                    <li>Western Music</li>
                </ul>
            </div>
            <img src="assets/image/JVC.png" alt="St.Joseph Vaz College" class="college-image">
        </div>
    </section>
  
    <!-- Career Goals Section -->
    <section class="section glass-card" id="career-goals">
        <h2>Career Goals</h2>
        <p>My aspiration is to become a full-stack software engineer and contribute to meaningful, impactful projects in the tech industry. 
            I aim to leverage my skills in Languages like Java, Python, JavaScript, and frameworks like Spring Boot, node, react and Angular to 
            build scalable and innovative real-world solutions.</p>
    </section>
  </div>