<!-- <nav>
  <div class="nav-links">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/skills">Skills</a></li>
      <li><a routerLink="/projects">Projects</a></li>
    </ul>
  </div>
</nav> -->



<nav>
  <div class="nav-links">
    <ul>
      <li><a href="#entry">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
    </ul>
  </div>
</nav>

<>