<section id="projects" class="projects">
  <div class="container">
    <h2>Projects</h2>
    <div class="project-grid">
      
      <!-- Project 1 -->
      <div class="project-card">
        <div class="project-card-inner">
          <div class="project-card-front">
            <h3>University Student Management System</h3>
          </div>
          <div class="project-card-back">
            <p> Developed a robust Java-based Student
              Management System for handling student
              registration, grade tracking, and report generation.
              Leveraged Java's OOP capabilities and dynamic
              programming techniques to implement key
              functionalities such as data encapsulation, modular
              design, sorting, and data persistence</p>

            <p id="btn">Find Project ↗️</p>
          </div>
        </div>
      </div>

      <!-- Project 2 -->
      <div class="project-card">
        <div class="project-card-inner">
          <div class="project-card-front">
            <h3>Shopping webpage</h3>
          </div>
          <div class="project-card-back">
            <p>Designed and built a responsive webpage using HTML, CSS, JS 
              for an educational website to promote the UN’s Sustainable
              Development Goal on Clean water & Sanitation. The
              site features a user profile section, a team page, a
              shopping page and a content editor details page.</p>

            <p id="btn">Find Project ↗️</p>
          </div>
        </div>
      </div>

      <!-- Project 3 -->
      <div class="project-card">
        <div class="project-card-inner">
          <div class="project-card-front">
            <h3>Marketing Website</h3>
          </div>
          <div class="project-card-back">
            <p>Using Angular designed and developed a responsive
              marketing and landing website for a mobile
              application. The site was designed to promote the
              application and the about and the services provide
              by the mobile application</p>

            <p id="btn">Find Project ↗️</p>
          </div>
        </div>
      </div>

      <!-- Project 4 -->
      <div class="project-card">
        <div class="project-card-inner">
          <div class="project-card-front">
            <h3>Chat Application</h3>
          </div>
          <div class="project-card-back">
            <p> Developed a minimal chatting mobile application
              using flutter and firebase, featuring user
              authentication and instant messaging. Implemented
              a clean UI and ensured seamless performance</p>

            <p id="btn">Find Project ↗️</p>
          </div>
        </div>
      </div>

      <!-- Project 5 -->
      <div class="project-card">
        <div class="project-card-inner">
          <div class="project-card-front">
            <h3>Finance Tracker</h3>
          </div>
          <div class="project-card-back">
            <p>An interactive finance tracker
              application in Python with Tkinter Library for GUI and
              CLI. The application supports CRUD operations for
              managing financial records, with features for
              categorizing expenses and generating reports.</p>

            <p id="btn">Find Project ↗️</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
