<!-- <app-navbar></app-navbar>

<router-outlet></router-outlet>

<app-footer></app-footer> -->


<app-navbar></app-navbar>

<!-- Hero Section -->
<section id="entry">
  <app-entry></app-entry>
</section>

<!-- About Section -->
<section id="about">
  <app-about></app-about>
</section>

<!-- Skills Section -->
<section id="skills">
  <app-skills></app-skills>
</section>

<!-- Projects Section -->
<section id="projects">
  <app-projects></app-projects>
</section>

<!-- Extra Section -->
<section id="extra">
    <app-extra></app-extra>
  </section>

<!-- Footer -->
<app-footer></app-footer>
