<section id="skills">
  <h2>My Skills</h2>
  <div class="skills-container">
      <div class="skill-box" draggable="true">
          <img src="assets/image/java.png" alt="Java Icon" class="skill-icon">
          <span>Java</span>
      </div>  

      <div class="skill-box" draggable="true">
          <img src="assets/image/python.png" alt="Python Icon" class="skill-icon">
          <span>Python</span>
      </div>            

      <div class="skill-box" draggable="true">
          <img src="assets/image/html.png" alt="HTML Icon" class="skill-icon">
          <span>HTML</span>
      </div> 

      <div class="skill-box" draggable="true">
          <img src="assets/image/css.png" alt="CSS Icon" class="skill-icon">
          <span>CSS</span>
      </div> 
      <div class="skill-box" draggable="true">
          <img src="assets/image/JS.png" alt="JS Icon" class="skill-icon">
          <span>JavaScript</span>
      </div> 
      
      <div class="skill-box" draggable="true">
          <img src="assets/image/SQL.png" alt="SQL Icon" class="skill-icon">
          <span>SQL</span>
      </div> 

      <div class="skill-box" draggable="true">
          <img src="assets/image/angular.png" alt="angular Icon" class="skill-icon">
          <span>Angular</span>
      </div> 

      <div class="skill-box" draggable="true">
          <img src="assets/image/spring.png" alt="spring Icon" class="skill-icon">
          <span>Spring Boot</span>
      </div>
      
      <div class="skill-box" draggable="true">
        <img src="assets/image/flutter.png" alt="flutter Icon" class="skill-icon">
        <span>Flutter</span>
    </div>
  </div>
</section>